<div class="menu">
  <div class="overview">
  <p>hogehuga</p>
  </div>
  <div class="chat-fin-btn">
  <a href="#">チャットを終了する</a>
  </div>
</div>
<div class="comments">
  <div class="upper-comment">
    <div class="comment-user">
    <p>Tom</p>
    </div>
    <div class="comment-date">
    <p>2020/3/31(wed) 12:43:30</p>
    </div>
  </div>
  <div class="under-comment">
  <p>おはよう</p>
  </div>
</div>
<div class="comment-form">
  <div class="comment-input">
    <input class="form-message" placeholder="type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
  </div>
  <input class="form-submit" type="submit" value="送信">
  
  </div>
</div>