.wrapper{
  display:flex;
}

.side-bar{
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.name-bar{
  height: 100px;
  background-color: #253141;
  padding: 0px 20px;
}

.room-bar{
  height:calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0px 20px;
}

.chat{
  background-color: #ffffff;
  width: calc(100vw - 300px);
}

.menu{
  height: 100px;
  background-color: #ffffff;
  padding: 0px 40px;
}

.comments{
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding: 46px 40px 0;
}
.comment-form{
  height: 90px;
  background-color: #dddddd;
  padding:20px 40px;
}